[package]
authors = ["Lee Hambley <lee.hambley@gmail.com>"]
edition = "2018"
name = "mitre"
version = "0.1.0"

[dependencies]
chrono = "0.4.13"
clap = "3.0.0-beta.1"
env_logger = "0.8.2"
envsubst = "0.2.0"
libc = "0.2.33"
log = "0.4"
mysql = "20.1.0"
phf = { version = "0.8.0", features = ["macros"] }
prettytable-rs = "^0.8"
rust-embed = {version ="5.7.0", features = ["debug-embed"] }
# serde = { version = "1.0", features = ["derive"] }
serde = { version = "1.0" }
serde_yaml = "0.8"
simple_logger = "1.6.0"
yaml-rust = "0.4"
handlebars = "3.5.2"

[lib]
crate-type = ["dylib"]
name = "mitre"
path = "src/lib.rs"

[[bin]]
name = "mitre"
path = "src/main.rs"
